.heading{
  font-size: 62px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


.item img{
  height: 280px;
  width: 300px;
}

.item img:hover{
  transform: scale(1.03);
  transition: all ease;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(136, 204, 219);
}

.content {
  justify-content: center;
}
.content{
  display:flex;
  flex-direction: row;
  justify-content:center;
  gap: 20px;
  
 }

 .item{
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items:center;
  width:400px;
}